<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
	  <add name="compositae" connectionString="data source=devserver05;database=compositae;user id=dbi_user;password=fred"/>
  </connectionStrings> 
  <appSettings>
	  <add key="ImportXSLTFilesLocation" value="XML"/>
	  <add key="ReportXSLTFilesLocation" value="Reports"/>
	  <add key="UserSettingsLocation" value="Settings"/>
	  <add key="ExportDataLocation" value="Export"/>
	  <add key="DataTransferToLocation" value="ftp://dixon.iplantcollaborative.org/transfer"/>
	  <add key="DataTransferFTPUsername" value="compositae"/>
	  <add key="DataTransferFTPPassword" value="yell0w daisy!"/>
	  <add key="ReferenceMatchRuleSet" value="2"/>
	  <add key="SystemProviderId" value="3"/>
	  <add key="LongSPCallSeconds" value="500"/>
	  <add key="Logging" value="on"/>
    <add key="DefaultHigherParentNameId" value="E902E29C-206A-4668-A668-F855EA3520A5"/> <!--Plantae-->
    <add key="DefaultGenusParentNameId" value="BA6504FA-5EE6-4464-B96B-765891017D3D"/> <!--Compositae-->
    <add key="AddNamesToUnknownNode" value="False"/>
    
  </appSettings>
  
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
